USE [master]
GO
/****** Object:  Database [BlackBoard Premium]    Script Date: 2021-03-05 9:59:20 AM ******/
CREATE DATABASE [BlackBoard Premium]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlackBoard Premium', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlackBoard Premium.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlackBoard Premium_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlackBoard Premium_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlackBoard Premium].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlackBoard Premium]
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom](
	[Location] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
 CONSTRAINT [PK_Classroom] PRIMARY KEY CLUSTERED 
(
	[Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [nvarchar](50) NOT NULL,
	[DepartmentID] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Credits] [float] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [nvarchar](50) NOT NULL,
	[DeparmentName] [nvarchar](50) NOT NULL,
	[HeadID] [nchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[InstructorID] [nvarchar](50) NOT NULL,
	[InstructorName] [nvarchar](50) NOT NULL,
	[DepartmentID] [nvarchar](50) NOT NULL,
	[Gender] [nchar](10) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prereq]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prereq](
	[CourseID] [nvarchar](50) NOT NULL,
	[PrereqID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionID] [nvarchar](50) NOT NULL,
	[InstructorID] [nvarchar](50) NOT NULL,
	[CourseID] [nvarchar](50) NOT NULL,
	[TimeslotID] [int] NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[SectionName] [nvarchar](50) NOT NULL,
	[EnrolledStudents] [int] NOT NULL,
	[MaximumStudents] [int] NOT NULL,
	[Semester] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Start_Time] [time](0) NOT NULL,
	[End_Time] [time](0) NOT NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [nvarchar](50) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[gender] [nchar](10) NOT NULL,
	[Major] [nvarchar](50) NULL,
	[Minor] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takes]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takes](
	[StudentID] [nvarchar](50) NOT NULL,
	[SectionID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teaches]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaches](
	[InstructorID] [nvarchar](50) NOT NULL,
	[SectionID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeslot]    Script Date: 2021-03-05 9:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeslot](
	[TimeslotID] [int] NOT NULL,
	[Monday] [int] NOT NULL,
	[Tuesday] [int] NOT NULL,
	[Wednesday] [int] NOT NULL,
	[Thursday] [int] NOT NULL,
	[Friday] [int] NOT NULL,
 CONSTRAINT [PK_Timeslot] PRIMARY KEY CLUSTERED 
(
	[TimeslotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Classroom] ([Location], [Capacity]) VALUES (N'5-102', 40)
INSERT [dbo].[Classroom] ([Location], [Capacity]) VALUES (N'5-110', 40)
INSERT [dbo].[Classroom] ([Location], [Capacity]) VALUES (N'5-128', 40)
INSERT [dbo].[Courses] ([CourseID], [DepartmentID], [CourseName], [Credits]) VALUES (N'01-716-8314', N'37-756-2067', N'MATH 115 - Elementary Calculus II', 4)
INSERT [dbo].[Courses] ([CourseID], [DepartmentID], [CourseName], [Credits]) VALUES (N'01-922-9106', N'57-938-3487', N'PHYS 301 - Nuclear Physics', 5)
INSERT [dbo].[Courses] ([CourseID], [DepartmentID], [CourseName], [Credits]) VALUES (N'02-159-8368', N'57-938-3487', N'BIOL 107 - Introduction to Cell Biology', 3)
GO
INSERT [dbo].[Department] ([DepartmentID], [DeparmentName], [HeadID]) VALUES (N'04-435-9616', N'Psychology', N'01-1633133                                        ')
INSERT [dbo].[Department] ([DepartmentID], [DeparmentName], [HeadID]) VALUES (N'37-756-2067', N'Math & Stats', N'00-3694804                                        ')
INSERT [dbo].[Department] ([DepartmentID], [DeparmentName], [HeadID]) VALUES (N'49-204-5694', N'Nursing', N'34-9886666                                        ')
INSERT [dbo].[Instructor] ([InstructorID], [InstructorName], [DepartmentID], [Gender], [Username], [Password]) VALUES (N'00-2671298', N'Vidovic Coppens', N'67-002-3473', N'M         ', N'vcoppens48', N'07475c661ce5d24d58051510c09f47fbb8026b85c0f78431fa99d2e780be7fc9')
INSERT [dbo].[Instructor] ([InstructorID], [InstructorName], [DepartmentID], [Gender], [Username], [Password]) VALUES (N'00-3694804', N'Holmes Rodenburg', N'37-756-2067', N'M         ', N'hrodenburg4j', N'ae6144ba22ce5e03b191c66dfe90ecb9dc9c2500258d786c3c44a587f09166e3')
INSERT [dbo].[Instructor] ([InstructorID], [InstructorName], [DepartmentID], [Gender], [Username], [Password]) VALUES (N'00-5883858', N'Edvard Rushton', N'91-848-4231', N'M         ', N'erushton51', N'5213e0b449b52207bbdc7ab2e1ab562b500d7f8608b43a20aa9c80c43d68056d')
GO
INSERT [dbo].[Prereq] ([CourseID], [PrereqID]) VALUES (N'59-406-3159', N'42-236-1528')
INSERT [dbo].[Prereq] ([CourseID], [PrereqID]) VALUES (N'61-389-7988', N'01-716-8314')
INSERT [dbo].[Prereq] ([CourseID], [PrereqID]) VALUES (N'39-506-0825', N'61-389-7988')
GO
INSERT [dbo].[Sections] ([SectionID], [InstructorID], [CourseID], [TimeslotID], [Location], [SectionName], [EnrolledStudents], [MaximumStudents], [Semester], [Year], [Start_Time], [End_Time]) VALUES (N'00-913-2764', N'36-4468282', N'89-219-5041', 2, N'5-488', N'AS02', 23, 40, N'Spring', 2021, CAST(N'12:00:00' AS Time), CAST(N'12:50:00' AS Time))
INSERT [dbo].[Sections] ([SectionID], [InstructorID], [CourseID], [TimeslotID], [Location], [SectionName], [EnrolledStudents], [MaximumStudents], [Semester], [Year], [Start_Time], [End_Time]) VALUES (N'01-160-4820', N'76-6601609', N'93-303-6014', 2, N'7-350', N'AS01', 17, 40, N'Fall', 2022, CAST(N'15:00:00' AS Time), CAST(N'15:50:00' AS Time))
INSERT [dbo].[Sections] ([SectionID], [InstructorID], [CourseID], [TimeslotID], [Location], [SectionName], [EnrolledStudents], [MaximumStudents], [Semester], [Year], [Start_Time], [End_Time]) VALUES (N'01-216-1591', N'86-6635017', N'09-857-0721', 1, N'6-324', N'AS01', 9, 40, N'Fall', 2017, CAST(N'08:30:00' AS Time), CAST(N'09:20:00' AS Time))
GO
INSERT [dbo].[Students] ([StudentID], [StudentName], [gender], [Major], [Minor], [Username], [Password]) VALUES (N'00-0826953', N'Angeli Corballis', N'M         ', N'Chemistry', N'Philosophy', N'acorballismd', N'6d77be2b33757af174ccc63b67bf806fc7769613620441ba04420eb49c6dcdb8')
INSERT [dbo].[Students] ([StudentID], [StudentName], [gender], [Major], [Minor], [Username], [Password]) VALUES (N'00-1295432', N'Marilyn Spoole', N'F         ', N'Biology', N'Political Science', N'mspooleav', N'ea50a688ebefb7a9de09a631027632ad418f6057b8787893362cc267a6234ca1')
INSERT [dbo].[Students] ([StudentID], [StudentName], [gender], [Major], [Minor], [Username], [Password]) VALUES (N'00-2132742', N'Rickie Birney', N'M         ', N'Chemistry', N'Sociology', N'rbirneyge', N'd76d688d571bd9cae917e46f7005c5fc10581b2d18adcec71a87ec0143ff0130')
GO
INSERT [dbo].[Takes] ([StudentID], [SectionID]) VALUES (N'21-1447694', N'20-911-2177')
INSERT [dbo].[Takes] ([StudentID], [SectionID]) VALUES (N'16-5992033', N'42-080-4712')
INSERT [dbo].[Takes] ([StudentID], [SectionID]) VALUES (N'36-1439236', N'20-911-2177')
GO
INSERT [dbo].[Teaches] ([InstructorID], [SectionID]) VALUES (N'12-9784384', N'66-843-8538')
INSERT [dbo].[Teaches] ([InstructorID], [SectionID]) VALUES (N'81-2323794', N'47-985-5953')
INSERT [dbo].[Teaches] ([InstructorID], [SectionID]) VALUES (N'83-7243489', N'40-004-2702')
GO
INSERT [dbo].[Timeslot] ([TimeslotID], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday]) VALUES (1, 1, 0, 1, 0, 1)
INSERT [dbo].[Timeslot] ([TimeslotID], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday]) VALUES (2, 0, 1, 0, 1, 0)
INSERT [dbo].[Timeslot] ([TimeslotID], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday]) VALUES (3, 0, 0, 1, 0, 1)
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_Department]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Classroom] FOREIGN KEY([Location])
REFERENCES [dbo].[Classroom] ([Location])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Classroom]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Courses]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Instructor] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Instructor] ([InstructorID])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Instructor]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Timeslot] FOREIGN KEY([TimeslotID])
REFERENCES [dbo].[Timeslot] ([TimeslotID])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Timeslot]
GO
ALTER TABLE [dbo].[Takes]  WITH CHECK ADD  CONSTRAINT [FK_Takes_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Takes] CHECK CONSTRAINT [FK_Takes_Sections]
GO
ALTER TABLE [dbo].[Takes]  WITH CHECK ADD  CONSTRAINT [FK_Takes_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Takes] CHECK CONSTRAINT [FK_Takes_Students]
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK_Teaches_Instructor] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Instructor] ([InstructorID])
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK_Teaches_Instructor]
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK_Teaches_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK_Teaches_Sections]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Department to Instructor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Instructor', @level2type=N'CONSTRAINT',@level2name=N'FK_Instructor_Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Classroom to Sections' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sections', @level2type=N'CONSTRAINT',@level2name=N'FK_Sections_Classroom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Course to Sections' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sections', @level2type=N'CONSTRAINT',@level2name=N'FK_Sections_Courses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Instructor to Sections' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sections', @level2type=N'CONSTRAINT',@level2name=N'FK_Sections_Instructor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Timeslot to Sections' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sections', @level2type=N'CONSTRAINT',@level2name=N'FK_Sections_Timeslot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Section to Takes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Takes', @level2type=N'CONSTRAINT',@level2name=N'FK_Takes_Sections'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Students to Takes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Takes', @level2type=N'CONSTRAINT',@level2name=N'FK_Takes_Students'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Instructors to Teaches' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teaches', @level2type=N'CONSTRAINT',@level2name=N'FK_Teaches_Instructor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Section to Teaches' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teaches', @level2type=N'CONSTRAINT',@level2name=N'FK_Teaches_Sections'
GO
USE [master]
GO
