USE [BlackBoard Premium]
GO
/****** Object:  Table [dbo].[Takes]    Script Date: 2021-03-06 3:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takes](
	[StudentID] [nvarchar](50) NOT NULL,
	[SectionID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Takes] ([StudentID], [SectionID]) VALUES (N'21-1447694', N'20-911-2177')
INSERT [dbo].[Takes] ([StudentID], [SectionID]) VALUES (N'16-5992033', N'42-080-4712')
INSERT [dbo].[Takes] ([StudentID], [SectionID]) VALUES (N'36-1439236', N'20-911-2177')
GO
ALTER TABLE [dbo].[Takes]  WITH CHECK ADD  CONSTRAINT [FK_Takes_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Takes] CHECK CONSTRAINT [FK_Takes_Sections]
GO
ALTER TABLE [dbo].[Takes]  WITH CHECK ADD  CONSTRAINT [FK_Takes_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Takes] CHECK CONSTRAINT [FK_Takes_Students]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Section to Takes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Takes', @level2type=N'CONSTRAINT',@level2name=N'FK_Takes_Sections'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Students to Takes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Takes', @level2type=N'CONSTRAINT',@level2name=N'FK_Takes_Students'
GO
