USE [BlackBoard Premium]
GO
/****** Object:  Table [dbo].[Teaches]    Script Date: 2021-03-06 4:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaches](
	[InstructorID] [nvarchar](50) NOT NULL,
	[SectionID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Teaches] ([InstructorID], [SectionID]) VALUES (N'60-9827996', N'36-683-5204')
INSERT [dbo].[Teaches] ([InstructorID], [SectionID]) VALUES (N'42-2578881', N'64-075-4902')
INSERT [dbo].[Teaches] ([InstructorID], [SectionID]) VALUES (N'32-3979338', N'05-912-2951')
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK_Teaches_Instructor] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Instructor] ([InstructorID])
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK_Teaches_Instructor]
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK_Teaches_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK_Teaches_Sections]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Instructor to Teaches' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teaches', @level2type=N'CONSTRAINT',@level2name=N'FK_Teaches_Instructor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links Section to Teaches' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teaches', @level2type=N'CONSTRAINT',@level2name=N'FK_Teaches_Sections'
GO
